@import "syntax-variables";

atom-text-editor {

  .invisible-character {
    opacity: var(--invisibleOpacity, 1);
  }

  .cursor {
    color: var(--cursorColor, @syntax-cursor-color) !important;
    transition: opacity 0.05s;
  }
}

.snow-dark-syntax-patch-hide-current-invisible .cursor-line .invisible-character {
  text-shadow: none;
  visibility: hidden;
}

.snow-dark-syntax-patch-shadow .cursor-line {
  text-shadow: 0px 0px 0.4em rgba(0, 0, 0, 0.4);

  .invisible-character {
    text-shadow: 0px 0px 0.4em rgba(0, 0, 0, 0.2);
  }
}

.snow-dark-syntax-patch-highlight {
  .cursor-line {
    filter: brightness(1.175);
  }
}

.snow-dark-syntax-patch-dark-selection {
  .highlight.selection > .region.selection {
    background: @line-selection;
  }

  .cursor-line {
    background: @syntax-selection-color !important;
  }
}

atom-text-editor.editor {
  .syntax--string {
    .syntax--quoted, .syntax--regexp {
      -webkit-font-feature-settings: "liga" off, "calt" off;
    }
  }
}
